@mixin ulReset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btnReset {
  padding: 0;
  border: none;
  outline: none;
}

@mixin simpleAnimation {
  transition: all .3s ease;
}

@mixin hovered {
  transition: all .3s ease;

  &:hover {
    opacity: .7;
  }
}

