@import '../App/const';
@import '../App/mixin';

.employee {
  min-width: 266px;
  overflow: hidden;
  background-color: $app-background-color;
  position: relative;
  top: -75px;
  border-radius: 9px 9px 0 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(75px, auto));
  column-gap: 13px;
  grid-template-areas:
    'photo name'
    'photo info'
    'btn btn'
    'contacts contacts'
    'job job';

  @media (min-width: 576px) {
    top: 0;
    max-height: 580px;
    border-radius: 0;
    grid-template-columns: repeat(auto-fit, minmax(130px, 385px));
    grid-template-rows: auto;
    column-gap: 22px;
    grid-template-areas:
      'photo logo'
      'photo name'
      'photo info'
      'photo contacts'
      'btn contacts'
      'btn contacts'
      '. contacts';
  }

  @media (min-width: 768px) {
    column-gap: 44px;
  }

  &__photo {
    grid-area: photo;
    width: 100%;
    height: 100%;
    max-height: 385px;
    min-height: 150px;
    object-fit: cover;
    border-bottom-left-radius: 9px;
  }

  &__company-logo {
    grid-area: logo;
    width: 160px;
    margin: 5px 0 19px 0;
  }

  &__name {
    grid-area: name;
    align-self: end;

    margin: 0 0 -6px 0;

    font-size: 12px;
    line-height: 1.3;

    @media (min-width: 414px) {
      padding-right: 20px;
      font-size: 14px;
    }

    @media (min-width: 576px) {
      align-self: start;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__info {
    grid-area: info;
    @include ulReset ();
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &-item {
      display: flex;
      column-gap: 2px;

      span {
        font-size: 9px;
        line-height: 1.3;
        color: $app-text-extra-color;

        @media (min-width: 414px) {
          font-size: 11px;
        }
      }

      @media (min-width: 320px) {
        padding-right: 20px;
      }
    }

    &-icon {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      fill:$app-main-color;
    }
  }

  &__profession {
    grid-area: info;
    margin: 0;

    font-size: 12px;
    line-height: 1.6;
    color: $app-text-extra-color;

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__btn-save {
    grid-area: btn;
    @include btnReset ();
    @include hovered ();
    width: 100%;
    height: 38px;
    margin: 9px 0;

    background-color: $app-main-color;
    border-radius: 9px;
    cursor: pointer;

    color: $app-btn-text-color;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;

    @media (min-width: 576px) {
      height: 50px;
      margin: 11px 0;
      font-size: 16px;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:active {
        transform: translate(0, 4px);
        box-shadow: none;
      }
    }
  }

  &__job {
    grid-area: job;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    column-gap: 10px;

    margin: 9px 0;
    padding: 16px 36px 16px 12px;

    background-image: url('../../images/arrow-link.svg');
    background-repeat: no-repeat;
    background-position: right 14px center;
    cursor: pointer;

    &-logo {
      grid-row-end: span 2;
      width: 43px;
      height: 43px;
    }

    &-name {
      margin: 0;

      font-size: 12px;
      line-height: 1;
    }

    &-description {
      margin: 0;
      max-width: 165px;

      font-size: 10px;
      line-height: 1.36;
      color: $app-text-extra-color;
    }
  }
}
