@import '../App/const';
@import '../App/mixin';

.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  background-color: $app-main-color;

  @media (min-width: 576px) {
    max-width: 887px;
    margin: 0 auto;
    padding: 0 34px;
    box-sizing: border-box;
    background-color: $app-background-color;
  }

  &__btn-back {
    @include btnReset ();
    position: absolute;
    left: 9px;
    top: 17px;

    display: flex;
    align-items: center;

    height: 12px;
    padding: 2px 0px 2px 11px;

    background-color: transparent;
    background-image: url('../../images/arrow-mobile-navigation.svg');
    background-repeat: no-repeat;
    background-size: 6px 12px;
    background-position: top 0 left 0;

    font-size: 9px;
    color: $app-btn-text-color;
  }

  &_place_main {
    height: 147px;
    @include simpleAnimation ();

    .header__logo_mobile {
      width: 131px;
      height: 41px;
      margin-top: 15px;
      @include simpleAnimation ();
    }

    @media (min-width: 576px) {
      height: 100px;
    }
  }

  &_place_other {
    height: 118px;
    @include simpleAnimation ();

    .header__logo_mobile {
      width: 168px;
      height: 53px;
      margin-top: 44px;
      @include simpleAnimation ();
    }

    @media (min-width: 576px) {
      height: 100px;
    }
  }
}

.nav {
  width: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;

  &__btn {
    @include btnReset ();
    height: 18px;
    padding-top: 12px;

    font-size: 14px;
    color: $app-text-extra-color;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 29px 10px;
    cursor: pointer;

    &-employee {
      background-image: url('../../images/arrow-navigation-left.svg');
      background-position: top 0 left 0;
    }

    &-company {
      background-image: url('../../images/arrow-navigation-right.svg');
      background-position: top 0 right 0;
    }

    &:disabled {
      opacity: .5;
      cursor: default;
    }
  }
}


