@import '../App/mixin';

.contacts {
  grid-area: contacts;
  @include ulReset ();

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (min-width: 576px) {
    flex-direction: column;
    margin-top: 22px;
    row-gap: 15px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  a {
    display: block;
    font-size: 0;
  }

  &__item {
    @media (min-width: 576px) {
      display: flex;
      align-items: center;

      & span {
        font-size: 12px;
        line-height: 1.5;
        padding-left: 8px;

        @media (min-width: 768px) {
          font-size: 14px;
          padding-left: 12px;
        }
      }

      &:last-of-type {
        align-items: start;
      }
    }
  }

  &__icon {
    width: 46px;
    height: 46px;
    flex-shrink: 0;

    @media (min-width: 576px) {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }

  &__social-icon {
    width: 22px;
    height: 22px;
    margin: 12px;

    @media (min-width: 576px) {
      margin: 0;
      @include hovered ();
    }
  }

  &__sublist {
    @include ulReset ();
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

    max-width: 245px;
    padding-left: 12px;
  }
}
